html {
  background: #070a10;
}

body {
  margin: 0;

  min-width: 320px;
  min-height: 100vh;

  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;

  background: #070a10;

  color: white;

  -webkit-font-smoothing: antialiased;
}

button,
input {
  font-family: inherit;
}

button {
  cursor: pointer;
}

#root {
  min-height: 100vh;
}